.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10mm;
    padding: 1rem;
    background-color: #5eb5e0;
    text-align: center;
}
.view {
    position: fixed;
    right: 0;
    bottom: 55px;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: darkblue;
    text-align: center;
}

.toolbar{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #5eb5e0;
    text-align: center;
}

.header{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #5eb5e0;
    text-align: center;
}

.content{
    position: absolute;
    right: 0;
    top: 18px;
    left: 0;
    bottom: 10px;
    padding: 1rem;
    background-color: firebrick;
    text-align: center;
}

#nav1 {
    background-color: #5eb5e0;
    height:15mm;
}