{% extends "ionic/base.html.twig" %}
{% block title %}Welcome!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/main2.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

{% endblock %}
{% block javascripts_static %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}



    <div class="view">
        <div class="header">
            {% block content_header %}
                asdfadfa
            {% endblock %}
        </div>

        <div class="content ">
            <div class="pre-scrollable">
                {% block content %}
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p>
                    <p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p><p>asdfadfakajsdfak/df</p>




                {% endblock %}
            </div>

        </div>



        <div class="toolbar">
            <button class="bt-home"><i class="material-icons">&#xE88A;</i></button>
            <button class="bt-chat"><i class="material-icons">&#xE0B7;</i></button>
            <button class="bt-controller"><i class="material-icons">&#xE89F;</i></button>

        </div>


    </div>

    <div class="footer">
        <h1>CHOUSE</h1>
    </div>





{% endblock %}

{% block javascripts %}

{% endblock %}