<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p>light 1   <button>ON</button></p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>