{% extends "ionic/level2_base/mainlayout.html.twig" %}
{% block title %}Welcome!{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts_static %}
    {{ parent() }}
{% endblock %}


{% block content_header %}
{% endblock %}

{% block content %}
    <div class="controller">
        {% block room %}

        {% endblock %}

    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}